---
layout: default
title: Olof Mogren - PhD Student 
---


{% for p in site.categories.publications %}
{% if p.tags contains "frontpage" %}
{% else %}
{% continue %}
{% endif %}

      <section class="research-topic">
        <div class="inner">

          <div class="block block-graphic" style="padding-top: 40px;{% cycle '', 'display: none' %}">
            <p><img src="{{ p.imgsrc }}" alt="{{ p.imgalt }}" style="margin-top: 30px;" /></p>
          </div>
          <div class="block block-copy half">
<h2> {{ p.title }} </h2>

<p>

{{ p.shortversion }}
</p>

<p>
<em>{{ p.venue }}</em><br />
<em>{{ p.authors }}</em><br />
<a href="{% if p.overwriteurl %}{{ p.overwriteurl }}{% else %}{{ p.url }}{% endif %}">Read more.</a>
</p>
          </div>
          <div class="block block-graphic" style="padding-top: 40px;{% cycle ' display: none;', '' %}">
            <p><img src="{{ p.imgsrc }}" alt="{{ p.imgalt }}" style="margin-top: 30px;" /></p>
          </div>
        </div>
      </section>
{% endfor %}

</div>
</div>
</section>



      <section class="features">
        <div class="inner">
          <div class="feature-grid">
            <div class="table-row">
              <div class="feature">
<h3>Licentiate Seminar</h3>
<p>On November 20th, 2015 at 10:00, I successfully defended my licentiate thesis titled <br />
<em>&quot;Multi-Document Summarization and Semantic Relatedness&quot;</em>.</p>
<p>Discussion leader was <br />
<a href="http://users.ics.aalto.fi/praiko/" title="Tapani Raiko's web page at aalto.fi">Tapani Raiko from Aalto University</a>.</p>
<p><a href="lic" title="Licentiate Thesis Details">Read more.</a></p>              </div>
              <div class="feature">
<h3>Deep Learning Course</h3>
<p>During period four (March-May 2016), I taught a PhD course in <a href="http://www.cse.chalmers.se/research/lab/courses/deep-learning/">Deep Learning</a>, together with <a href="http://www.kageback.se/">Mikael Kågebäck</a> and <a href="http://www.cse.chalmers.se/~frejohk/">Fredrik Johansson</a>.</p>
<p>The course will cover some of the most important topics in the field, including Convolutional Neural Networks, Recurrent Neural Networks, unsupervised methods, and regularization techniques.</p>
<p>We used a &quot;flipped classroom&quot; approach, with  video lectures from some of the best researchers in the field, along with discussion sessions.</p>
<p><a href="http://www.cse.chalmers.se/research/lab/courses/deep-learning/" title="Deep Learning Course Web Page, chalmers.se">Read more at the course web page.</a></p>              </div>
              <div class="feature">
<h3>Students</h3>
<p>The following students are currently writing their master's theses under my supervision.</p>

{% for post in site.categories.students %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
{% if forloop.first %}
{% else %}
{% break %}
{% endif %}
{% assign date = currentdate %}
{% endif %}
<p><strong>{{ post.authors }}</strong>:<br />
<em>{{ post.title }}</em>
{% if post.shortversion %}
<br />{{ post.shortversion }}
{% endif %}
</p>
{% endfor %}

<p><a href="students">Read more.</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="inner">
          <div class="block block-copy">
<h3>Recent Talks</h3>
<div style="float: right;"><iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=l6sjo71d4l4mts81870rpm56ek%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=Europe%2FStockholm&mode=AGENDA&title=Upcoming%20Seminars" style="overflow-x:hidden;overflow-y:hidden; border-width:0" width="300" height="300" frameborder="0" scrolling="no"></iframe></div>



<ul>
{% for post in site.categories.talks %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
{% if forloop.first %}
{% else %}
{% break %}
{% endif %}
{% assign date = currentdate %}
{% endif %}
<li>
<p>{{ post.date | date: "%Y-%m-%d" }}:
<strong>{{ post.title }}</strong><br />
(<em>{{ post.venue }}</em>)
{% if post.externallink %}
<a href="{{ post.externallink }}">(<em>details</em>)</a>
{% endif %}
<br />{{ post.shortversion }}
</p>
</li>
{% endfor %}
</ul>

<p><a href="/talks/">More info and more talks.</a></p>
          </div>
        </div>
      </section>
      <section>
        <div class="inner">
          <div class="block block-copy">
<h2>About Me</h2>
<p><img style="float: right;" src="graphics/mogren-mountain-whitebg-cropped-medium.jpg" /> I work as a PhD student in the <a href="http://www.cse.chalmers.se/research/lab/">machine learning research group</a> with problems related to data science and machine learning, using methods from deep learning and graphical models.</p>
<p>I currently teach <a href="http://www.cse.chalmers.se/research/lab/courses/algorithms-for-machine-learning-tda-231/">Algorithms for Machine Learning and Inference</a>. In the past, I have taught the <a href="https://ai-course-tin172-dit410.github.io/">AI course</a>
(specifically the parts about probabilistic methods, including probabilistic graphical models),
Object Oriented Programming, Data Structures, and Algorithms (<a href="http://www.cse.chalmers.se/~ptr/alg.html">basic course</a>, and <a href="http://www.cse.chalmers.se/~huangch/course/advanced_algorithm_2015.html">advanced course</a>).</p>
<p><a href="/about">Read more.</a></p>
          </div>
        </div>
      </section>

{% for post in site.posts %}
<!--
      <section>
        <div class="inner">
          <div class="block block-copy">

    {{ post.date | date: "%B %e, %Y" }}
    <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
    <p>{{ post.abstract }}</p>
          </div>
        </div>
      </section>
//-->
{% endfor %}

