---
title: Summarization - Olof Mogren
layout: default
---


<section>
<div class="inner">
<div class="block block-copy">
<h1>Multi-document summarization</h1>
<img src="../graphics/illustrations/mogren_summarization.svg" alt="Extractive Multi-Document Summarization" style="float: right; max-width: 40%;" />
<p><strong>Abstract</strong>:
News reports, social media streams, blogs, digitized archives and books are part of
a plethora of reading sources that people face every day.
This raises the question of how to best generate automatic summaries.
Many existing methods for extracting summaries rely on comparing the similarity of two sentences in some way.
We present new ways of measuring this similarity, based on sentiment analysis and
continuous vector space representations, and show that combining these
together with similarity measures from existing methods, helps to create better summaries.
The finding is demonstrated with MULTSUM, a novel summarization method that uses
ideas from kernel methods to combine sentence similarity measures. Submodular
optimization is then used to produce summaries that take several different similarity measures into account.
Our method improves over the state-of-the-art on standard benchmark datasets;
it is also fast and scale to large document collections, and the results are statistically significant.</p>
<h2>How to use this.</h2>
<p>We provide our MULTSUM implementation in Python (run without arguments for usage information). The package includes a demo that can be run from command line (see multsum.py), or with an included GUI application (see multsum_gui.py).</p>
<p>Download: <a href="/summarization/MULTSUM.tar.gz">MULTSUM.tar.gz</a>.</p>
<p>Github repository: <a href="https://github.com/olofmogren/multsum"><a href="https://github.com/olofmogren/multsum">https://github.com/olofmogren/multsum</a></a>.</p>
<!--
Live demo: <a href="http://mogren.one:9291/">mogren.one:9191</a>.
//-->
<ul>
<li>The Python code provided here includes four different similarity measures: LinTFIDF, PositiveSentiment, NegativeSentiment, and Word2Vec.</li></li>
<li>To run experiments with the same data, the DUC datasets can be requested from <a href="http://duc.nist.gov/data.html"><a href="http://duc.nist.gov/data.html">http://duc.nist.gov/data.html</a></a>.</li></li>
<li>We have also evaluated on the Opinosis dataset (but it's not as prominent in the paper). It can be freely downloaded from <a href="http://kavita-ganesan.com/dataset/"><a href="http://kavita-ganesan.com/dataset/">http://kavita-ganesan.com/dataset/</a></a>.</li></li>
<li>To evaluate automatic summaries, ROUGE is the standard tool. For information, and to request a copy of the script, see <a href="http://www.berouge.com/"><a href="http://www.berouge.com/">http://www.berouge.com/</a></a></li></li>
<li>To compare with other systems, Hong et.al. has published a repository of pre-computed summaries for DUC&nbsp;2004. It can be downloaded from <a href="https://cis.upenn.edu/~hongkai1/"><a href="https://cis.upenn.edu/~hongkai1/">https://cis.upenn.edu/~hongkai1/</a></a>.</li></li>
</ul>
<!--
<p><strong>Extractive Summarization by Aggregating Multiple Similarities</strong><br />
&nbsp;&nbsp;<em>Fulltext</em>: <a href="mogren2015extractive.pdf">PDF</a>, <a href="mogren2015extractive.epub">EPUB</a>.<br />
&nbsp;&nbsp;<em>Bibtex</em>: <a href="javascript:void(null);" onclick="showBibtex(event, '@article{mogrenextractive,\n  title={Extractive Summarization by Aggregating Multiple Similarities},\n  author={Mogren, Olof and Kågebäck, Mikael and Dubhashi, Devdatt},\n  journal={RECENT ADVANCES IN NATURAL LANGUAGE PROCESSING 2015},\n  pages={451}\n}')">click here</a><br />
&nbsp;&nbsp;<em>Venue:</em> <em>RANLP 2015, Hissar, Bulgaria, September 6th-11th</em><br />
&nbsp;&nbsp;<em>Authors:</em> Olof Mogren, Mikael K&aring;geb&auml;ck, Devdatt Dubhashi</p>
<p><strong>Extractive Summarization using Continuous Vector Space Models</strong><br />
&nbsp;&nbsp;<em>Comments:</em> A workshop paper showing preliminary results on multi-document summarization with continuous vector space models for sentence representation. The experiments were performed on opinionated online user reviews.<br />
&nbsp;&nbsp;<em>Fulltext:</em> <a href="kageback2014extractive.pdf">PDF</a>.</span><br />
&nbsp;&nbsp;<em>Bibtex</em>: <a href="javascript:void(null);" onclick="showBibtex(event, '@inproceedings{kaageback2014extractive,\n  title={Extractive summarization using continuous vector space models},\n  author={Kågebäck, Mikael and Mogren, Olof and Tahmasebi, Nina and Dubhashi, Devdatt},\n  booktitle={Proceedings of the 2nd Workshop on Continuous Vector Space Models and their Compositionality (CVSC)@ EACL},\n  pages={31 - -39},\n  year={2014}\n}')">click here</a><br />
&nbsp;&nbsp;<em>Venue:</em> <em>2nd Workshop on Continuous Vector Space Models and their Compositionality CVSC 2014, Gothenburg Sweden</em><br />
&nbsp;&nbsp;<em>Authors:</em> Mikael K&aring;geb&auml;ck, Olof Mogren, Nina Tahmasebi, Devdatt Dubhashi</p>
//-->

</div>
</div>
</section>
<section>
<div class="inner">
<div class="block block-copy">                                                            
<h2>Relevant publications</h2>

{% for prio in (0..1) %}
{% for p in site.categories.publications %}
{% if p.tags contains "summarization" %}
{% else %}
{% continue %}
{% endif %}
{% if p.tags contains "prio" %}
{% if prio == 1 %}
{% continue %}
{% endif %}
{% else %}
{% if prio == 0 %}                                                                        {% continue %}                                                                            {% endif %}
{% endif %}
<p><strong> {{ p.title }} </strong></p>

<p>
<em>{{ p.venue }}</em><br />
<em>{{ p.authors }}</em><br />
<a href="{{ p.pdf }}">PDF Fulltext</a>,
<a href="javascript:void(null);" onclick="showBibtex(event, '{{ p.bibtex }}')">bibtex</a>.
</p>                                                                                      
{% endfor %}
{% endfor %}
</div>
</div>
</section>

