{% assign color_rgbs = "0,0,0, 80,40,110, 30,110,80, 30,40,100, 50,50,50, 244,170,90, 110,80,40, 30,110,110, 100,40,110" | split: ", " %}

{% assign colorindex = include.counter | modulo: color_rgbs.size %}
{% assign gradientcolor1 = 'rgba(' | append: color_rgbs[colorindex] | append: ',.9)' %}
{% assign gradientcolor2 = 'rgba(' | append: color_rgbs[colorindex] | append: ',.2)' %}


{% if include.category == 'publications' %}
  {% assign footer = include.p.venueshort %}
{% elsif include.category == 'masterthesis' %}
  {% assign footer = include.p.date | date: "%Y" %}
{% else %}
  {% assign footer = include.p.date | date: "%Y-%m-%d" %}
{% endif %}

              <div class="feature" style="margin: 0px; padding: 0px;">
                <div class="overlay-container">
{% if include.p.box-bg-imgsrc %}
                  <div class="overlay-box">
                    <img src="{{ include.p.box-bg-imgsrc }}" style="width: 100%; height: 100%;" alt="" />
                  </div>
{% else %}
                  <div class="overlay-box">
                    <img src="{{ include.p.imgsrc }}" style="width: 100%; height: 100%;" alt="" />
                  </div>
{% endif %}
                  {% if false %} <div class="overlay-box" style="background-color: {{ color }};"> {% endif %}
                  <div class="overlay-box" style="background-image: linear-gradient({{ gradientcolor1 }}, {{ gradientcolor2 }});">
                    &nbsp;
                  </div>

                  <div class="overlay-box" style="text-align: left;">
                    <div style="padding: 20px;">
                      <span style="font-size: 26px; font-weight: bold; color: #ffffff;">{{ include.p.title }}</span>
{% if include.category == 'masterthesis' %}
                      <br /><br /><span style="font-size: 14px; font-weight: normal; font-style: italic; color: #ffffff;">{{ include.p.authors }}</span> 
{% endif %}

                    </div>
                  </div>
                  <div class="overlay-footnote">
                    <p class="overlay-footnote">{{ footer }}</p>
                  </div>
                  <div id="div-{{- include.category -}}-abstract-{{- include.counter -}}" class="overlay-box overlay-highlight" style="visibility: hidden;">
                    <p><strong>{{ include.p.title }}:</strong> {{ include.p.shortversion }}</p>
                    <div class="overlay-footnote">
                      <p class="overlay-footnote">Click to read more!</p>
                    </div>
                  </div>
                  <div onmouseover="document.getElementById('div-{{- include.category -}}-abstract-{{- include.counter -}}').style.visibility = 'visible';" onmouseout="document.getElementById('div-{{- include.category -}}-abstract-{{- include.counter -}}').style.visibility = 'hidden';" class="overlay-box">
                    <a class="overlay-box-link-whole-box" href="{% if include.p.overwriteurl %}{{ include.p.overwriteurl }}{% else %}{{ include.p.url }}{% endif %}"><span></span></a>
                    <!-- div:background-blend-mode: lighten; img: filter: brightness(1.5);  //-->
                  </div>
                </div>
              </div>

