---
title: Talks - Olof Mogren
layout: default
---

<section>
<div class="inner">
<div class="block block-copy">
<h1>Talks</h1>

<ul>
{% for post in site.categories.talks %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
</ul>
<h2 id="y{{currentdate}}">{{ currentdate }}</h2>
<ul>
{% assign date = currentdate %}
{% endif %}
<li>
<p>
{% if post.imgsrc %}
<figure style="float: right; max-width: 40%;"><img src="{{ post.imgsrc }}" style="width: 100%;" alt="" /></figure>
{% endif %}

{{ post.date | date: "%Y-%m-%d" }}:
<strong>{{ post.title }}</strong><br />
(<em>{{ post.venue }}</em>{% if post.externallink %} -<a href="{{ post.externallink }}"><em>web page</em></a>{% endif %})
<br />{{ post.shortversion }}
</p>
{% if post.pdf %}
<p><a href="{{ post.pdf }}"><em>Slides</em></a></p>
{% endif %}
{% if post.overwriteurl %}
<p>
<a href="{{ post.overwriteurl }}">(<em>Read more</em>)</a>
</p>
{% elsif post.longversion %}
<p>
<a href="{{ post.url }}">(<em>Read more</em>)</a>
</p>
{% endif %}
{% if forloop.index == 2 %}
<div><iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=l6sjo71d4l4mts81870rpm56ek%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=Europe%2FStockholm&mode=AGENDA&title=Upcoming%20Seminars" style="overflow-x:hidden;overflow-y:hidden; border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe></div>
{% endif %}
</li>
{% endfor %}
</ul>


</div>
<div>
</section>

