---
title: Talks - Olof Mogren
layout: default
---

<section>
<div class="inner">
<div class="block block-copy">
<h1>Talks</h1>

<ul>
{% for post in site.categories.talks %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
</ul>
<h2 id="y{{currentdate}}">{{ currentdate }}</h2>
<ul>
{% assign date = currentdate %}
{% endif %}
<li>
<p>
{% if post.imgsrc %}
<figure style="float: right; max-width: 40%; max-height: 12em; clear: right;"><img src="{{ post.imgsrc }}" style="width: 100%; max-height: 12em;" alt="" /></figure>
{% endif %}

{% if post.overwriteurl %}<a href="{{ post.overwriteurl }}">
{% elsif post.longversion or post.pdf %}<a href="{{ post.url }}">
{% endif %}

{{ post.date | date: "%Y-%m-%d" }}:
<strong>{{ post.title }}</strong><br />
{% if post.overwriteurl or post.longversion or post.overwriteurl %}
</a>
{% endif %}
(<em>{{ post.venue }}</em>)
<br />{{ post.shortversion }}
</p>
{% if post.pdf %}
Click title for slides and more info.
{% elsif post.longversion %}
Click title for more info.
{% endif %}
{% if forloop.index == 2 %}
<div><iframe src="https://calendar.google.com/calendar/embed?height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=l6sjo71d4l4mts81870rpm56ek%40group.calendar.google.com&amp;color=%235229A3&amp;ctz=Europe%2FStockholm&mode=AGENDA&title=Upcoming%20Seminars" style="overflow-x:hidden;overflow-y:hidden; border-width:0" width="100%" height="300" frameborder="0" scrolling="no"></iframe></div>
{% endif %}
</li>
{% endfor %}
</ul>


</div>
<div>
</section>

