---
title: Students - Olof Mogren
layout: default
---


      <section>
        <div class="inner">
          <div class="block block-copy">
<h2>Students</h2>
<p>The following students have written their master's theses under my supervision.</p>

{% for post in site.categories.students %}
{% assign currentdate = post.date | date: "%Y" %}
{% if currentdate != date %}
<h3 id="y{{currentdate}}">{{ currentdate }}</h3>
{% assign date = currentdate %}
{% endif %}
<p>{{ post.authors }}:<br />
<em>{{ post.title }}</em>
{% if post.shortversion %}
<br />{{ post.shortversion }}
{% endif %}
{% if post.externallink %}
<br /><a href="{{ post.externallink }}">(<em>details</em>)</a>
{% endif %}
{% if post.longversion %}
<br /><a href="{{ post.url }}">(<em>read more </em>)</a>
{% endif %}
</p>
{% endfor %}

          </div>
        </div>
      </section>


