---
title: Deep learning research group - Olof Mogren, PhD
layout: default
---


      <section>
        <div class="inner">
          <div>
<h2>Research group</h2>

<p style="text-align: center;"><img src="/graphics/mogren-2018-julia-sjoberg.png" style="height: 200px;" alt="Olof Mogren" /><img src="/graphics/martinsson.jpg" style="height: 200px;" alt="John Martinsson" /><img src="/graphics/listozec.jpeg" style="height: 200px;" alt="Edvin Listo Zec" /></p>

<p>&nbsp;</p>

<p>I have the honour to work with the following collection of brilliant people in my research group.</p>

<ul>
  <li><a href="https://johnmartinsson.github.io/">John Martinsson</a></li>
  <li><a href="https://edvinli.github.io/">Edvin Listo Zec</a></li>
</ul>


<p>Are you looking to write a master thesis related to machine learning?
Several different projects related to machine learning awaits skilled students.
</p>
<p>The following master's theses were written under my supervision.</p>

{% assign filtercolors = "rgba(80,40,110,.7), rgba(30,110,80,.7), rgba(30,40,100,.7), rgba(244,170,90,.7), rgba(110,80,40,.7), rgba(30,110,110,.7), rgba(100,40,110,.7)" | split: ", " %}


{% assign counter = 0 %}

{% for p in site.categories.group %}
  {% if p.tags contains "masterthesis" %}
    {% assign colno = counter | modulo: 3 %}
    {% if colno == 0 %}
      {% if counter != 0 %}
            </div>
            <div class="table-row">
      {% endif %}
    {% endif %}
    {% assign colorindex = counter | modulo: filtercolors.size %}
    {% assign color = filtercolors[colorindex] %}

    {% include overlay-box.html p=p counter=counter color=color category='masterthesis' %}
    {% capture counter %}{{ counter | plus:1 }}{% endcapture %}
  {% endif %}
{% endfor %}

          </div>
        </div>
      </section>


