---
layout: default
tweetcode: "<div style=\"border: #ccc solid 1px; overflow: auto;\">
<div style=\"float: left; margin-left: 20px;\"><p>Retweet or comment this on Twitter:</p></div>
<div style=\"overflow-y: hidden; width: 60%; height: 24px; float: left; margin-top: 16px;\" scrolling=\"no\">
<div style=\"position: relative; bottom: 4px; left: -4px; overflow-y: hidden; overflow-x: hidden; width: 140px; height: 32px;\" scrolling=\"no\">
<div style=\"position: relative; top: -180px; width: 600px;\">
<blockquote class=\"twitter-tweet\" data-lang=\"en\"><a href=\"https://twitter.com/olofmogren/status/908077543848398849\">&nbsp;</a></blockquote><script async=\"\" src=\"//platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>
</div>
</div>
</div>
</div>"
---

<section>
<div class="inner">
<div class="block block-copy">


<h1>{{ page.title }}</h1>
<p><em>{{ page.date | date: '%Y-%m-%d' }}</em></p>

{% if page.imgsrc %}
<figure style="float: right; max-width: 40%;">
<img src="{{ page.imgsrc }}" alt="{{ page.imgalt }}" style="max-width: 100%" />
<figcaption style="max-width: 100%;">{{ page.imgcaption }}</figcaption>
</figure>
{% endif %}


{% if page.content %}
{{ page.content }}
{% else %}
{{ page.shortversion }}
{% endif %}

<p>
<em>{{ page.authors }}</em><br />
</p>



{% if page.tweetid %}
<div style="width: 100%; border: #ccc solid 1px; overflow: auto;">
<div style="float: left; margin-left: 20px;"><p>Retweet or comment this on Twitter:</p></div>
<div style="overflow-y: hidden; width: 60%; height: 24px; float: left; margin-top: 16px;" scrolling="no">
<div style="position: relative; bottom: 4px; left: -4px; overflow-y: hidden; overflow-x: hidden; width: 600px; height: 32px;" scrolling="no">
<div style="position: relative; top: -180px; width: 600px;">
<blockquote class="twitter-tweet" data-lang="en"><a href="https://twitter.com/olofmogren/status/{{ page.tweetid }}">&nbsp;</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
</div>
</div>
{% endif %}



</div>
</div>
</section>

<section>
<div class="inner">
<div class="block block-copy">
<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//mogren-one.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</div>
</section>

<script id="dsq-count-scr" src="//mogren-one.disqus.com/count.js" async></script>

