<!doctype html>
<html class="no-js">
  <head>
      {% feed_meta %}
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/style.css">
      <script type="text/javascript" src="/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script>
        function showBibtex(event, text) {
          var el, x, y;

          el = document.getElementById('PopUp');
          if (window.event) {
            x = window.event.clientX + document.documentElement.scrollLeft
                + document.body.scrollLeft;
                y = window.event.clientY + document.documentElement.scrollTop +
                + document.body.scrollTop;
          }
          else {
            x = event.clientX + window.scrollX;
            y = event.clientY + window.scrollY;
          }
          x -= 2; y -= 2;
          y = y+15
          el.style.left = x + "px";
          el.style.top = y + "px";
          el.style.display = "block";
          document.getElementById('PopUpText').innerHTML = text;
       }
    </script>
  </head>
  <body class="home">

    <header id="header-waypoint">
      <nav id="stickyNav" class="sticky-nav">
        <!--<a href="/" class="logo">Olof Mogren</a>//-->
        <a href="http://mogren.one/" class="nametag"><h1 class="nametag">Olof Mogren</h1></a>
        <div id="groups" style="margin-right: 80px;">
          <div id="group1" style="z-index: 5;">
            <a href="/summarization" style="color: #999;">Summarization</a>
            <a href="/talks" style="color: #999;">Talks</a>
          </div>
          <div id="group2" style="z-index: 5;">
            <a href="/publications" style="color: #999;">Publications</a>
            <a href="/about" style="color: #999;">About</a>
          </div>
        </div>
      </nav>

    </header>

    <a class="github-ribbon" href="https://github.com/olofmogren">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 4;"
           src="/graphics/git-ribbon.png" alt="Fork me on GitHub">
    </a>

    <div id="PopUp" style="display: none; position: absolute; left: 100px; top: 50px; border: solid black 1px; padding: 10px; background-color: rgb(200,200,200); text-align: justify; font-size: 12px; min-width: 400px;">
      <pre id="PopUpText">TEXT</pre>
      <input name="close" type="button" value="Close" onclick="document.getElementById('PopUp').style.display = 'none';" />
    </div>

{{ content }}

      <section class="foot">
        <strong>Olof Mogren</strong>, Department of Computer Science and Engineering, Chalmers University of Technology<br /><br />
        <a href="https://www.linkedin.com/in/olof-mogren-5392b452" title="Follow me on LinkedIn"><img src="/graphics/logos/linkedin_logo_42x40-white.png" alt="LinkedIn" /></a>
        <a href="https://twitter.com/olofmogren" title="Follow me on Twitter"><img src="/graphics/logos/twitter_logo_49x40-white.png" alt="Twitter" /></a>
        <a href="https://flokk.no/i/9be9cd2a348d" title="Follow me on Diaspora"><img src="/graphics/logos/diaspora_logo_42x40-white.png" alt="Diaspora" /></a>
      </section>

    </div><!-- main content //-->

  </body>
</html>
