---
---
<!doctype html>
<html class="no-js">
  <head>
      {{ feed_meta }}
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/style.css">
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script>
        function showBibtex(event, text) {
          var el, x, y;

          el = document.getElementById('PopUp');
          if (window.event) {
            x = window.event.clientX + document.documentElement.scrollLeft
                + document.body.scrollLeft;
                y = window.event.clientY + document.documentElement.scrollTop +
                + document.body.scrollTop;
          }
          else {
            x = event.clientX + window.scrollX;
            y = event.clientY + window.scrollY;
          }
          x -= 2; y -= 2;
          y = y+15
          el.style.left = x + "px";
          el.style.top = y + "px";
          el.style.display = "block";
          document.getElementById('PopUpText').innerHTML = text;
       }
    </script>
  </head>
  <body class="home">

    <div class="bodydiv">
      <header id="header-waypoint">
        <nav id="stickyNav" class="sticky-nav">
          <div class="nametag">
            <div class="nametagsubdiv"><a href="http://mogren.one/" class="nametag"><h1 class="nametag">O<span style="font-size: 22px;">lof</span> M<span style="font-size: 22px;">ogren</span></h1></a></div>
            <div class="nametagsubscript"><span class="nametagsubscript">Senior machine learning researcher, PhD, at Research institutes of Sweden.</span></div>
          </div>
          <div id="groups" style="margin-right: 80px;">
            <div id="group1" style="z-index: 5;">
              <a href="/blog" style="color: #999;">Blog</a>
              <a href="/talks" style="color: #999;">Talks</a>
            </div>
            <div id="group2" style="z-index: 5;">
              <a href="/publications" style="color: #999;">Publications</a>
              <a href="/about" style="color: #999;">About</a>
            </div>
          </div>
        </nav>

      </header>

      <a class="github-ribbon" href="https://github.com/olofmogren">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 4;"
             src="/graphics/git-ribbon.png" alt="Fork me on GitHub">
      </a>

      <div id="PopUp" style="display: none; position: absolute; left: 100px; top: 50px; border: solid black 1px; padding: 10px; background-color: rgb(200,200,200); text-align: justify; font-size: 12px; min-width: 400px;">
        <pre id="PopUpText">TEXT</pre>
        <input name="close" type="button" value="Close" onclick="document.getElementById('PopUp').style.display = 'none';" />
      </div>

  {{ content }}

        <section class="foot">
          <strong>Olof Mogren</strong> Research institutes of Sweden<br /><br />
          <a href="https://www.linkedin.com/in/olof-mogren-5392b452" title="Follow me on LinkedIn"><img src="/graphics/logos/linkedin_logo_42x40-white.png" alt="LinkedIn" /></a>&nbsp;<!--
          //--><a href="https://twitter.com/olofmogren" title="Follow me on Twitter"><img src="/graphics/logos/twitter_logo_49x40-white.png" alt="Twitter" /></a>&nbsp;<!--
          <a href="https://flokk.no/i/9be9cd2a348d" title="Follow me on Diaspora"><img src="/graphics/logos/diaspora_logo_42x40-white.png" alt="Diaspora" /></a>&nbsp;
          //--><a href="http://mogren.one/feed.xml" title="Follow my posts with RSS."><img src="/graphics/logos/rss.svg" style="width: 40px; height: 40px;" alt="Atom/RSS Feed" /></a>
        </section>

      </div><!-- main content //-->
    </div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11067757; 
var sc_invisible=1; 
var sc_security="5e553e07"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free web stats"
href="http://statcounter.com/free-web-stats/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11067757/0/5e553e07/1/" alt="free
web stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
  </body>
</html>
