---
layout: default
---

<section>
<div class="inner">
<div class="block block-copy">


<h1>{{ page.title }}</h1>

{% if page.imgsrc %}
<img src="{{ page.imgsrc }}" alt="{{ page.imgalt }}" style="float: right; max-width: 40%;" />
{% endif %}

<p>
{% if page.content %}
{{ page.content }}
{% elsif page.longversion %}
{{ page.longversion }}
{% else %}
{{ page.shortversion }}
{% endif %}
</p>
<p>
<em><strong>{{ page.authors }}</strong></em>
</p>
<p>
<em>{{ page.venue }}</em><br />
{% if page.pdf %}
<a href="{{ page.pdf }}">PDF Fulltext</a>
{% endif %}
{% if page.bibtex %}
<a href="javascript:void(null);" onclick="showBibtex(event, '{{ page.bibtex }}')">bibtex</a>.
{% endif %}
</p>
</div>
</div>
</section>

