---
layout: default
---

<section>
<div class="inner">
<div class="block block-copy">


<h1>{{ page.title }}</h1>

{% if page.imgsrc %}
<img src="{{ page.imgsrc }}" alt="{{ page.imgalt }}" style="float: right; max-width: 40%;" />
{% endif %}

<p>
{% if page.longversion %}
{{ page.longversion }}
{% else %}
{{ page.shortversion }}
{% endif %}
</p>
{% if page.pdf %}
<p><a href="{{ page.pdf }}">Slides (PDF)</a></p>
{% endif %}
<p>
{% if page.externallink %}
<a href="{{ page.externallink }}">
{% endif %}
<em>{{ page.venue }}</em>
{% if page.externallink %}
</a>
{% endif %}
<br />
<em>{{ page.authors }}</em><br />
</p>
</div>
</div>
</section>

