---
layout: default
title: Olof Mogren, PhD - Deep Learning Researcher.
---

      <section class="features">
        <div class="inner">
          <div class="feature-grid">
            <h1>Publications</h1>
{% assign globalcounter = 0 %}
{% assign colcounter = 0 %}
{% assign showyears = true %}
{% assign minyear = "2015" %}
{% for p in site.categories.publications %}
  {% assign currentdate = p.date | date: "%Y" %}
  {% assign colno = colcounter | modulo: 3 %}
  {% if showyears and currentdate != date %}{% assign showthisyear = true %}{% else %}{% assign showthisyear = false %}{% endif %}
  {% if showyearthisyear or colno == 0 %}
    {% if globalcounter != 0 %}
            </div>
    {% endif %}
    {% if showthisyear %}
            <h3>{{ currentdate }}{% if currentdate == minyear %}{{ ' and earlier' }}{% endif %}</h3>
      {% assign colcounter = 0 %}
    {% endif %}
            <div class="table-row">
    {% assign date = currentdate %}
  {% endif %}

  {% include overlay-box.html p=p counter=globalcounter category='publications' %} 

  {% if currentdate == minyear %}{% assign showyears = false %}{% endif %}
  {% capture globalcounter %}{{ globalcounter | plus:1 }}{% endcapture %}
  {% capture colcounter %}{{ colcounter | plus:1 }}{% endcapture %}
{% endfor %}
            </div>
          </div>
        </div>
      </section>



