---
layout: default
title: Olof Mogren, PhD - Deep Learning Researcher.
---

      <section class="features">
        <div class="inner">
          <div class="feature-grid">
            <h1>Publications</h1>


{% assign globalcounter = 0 %}
{% assign colcounter = 0 %}
{% for p in site.categories.publications %}
  {% assign currentdate = p.date | date: "%Y" %}
  {% assign colno = colcounter | modulo: 3 %}
  {% if currentdate != date or colno == 0 %}
    {% if globalcounter != 0 %}
            </div>
    {% endif %}
    {% if currentdate != date %}
            <h3>{{ currentdate }}</h3>
      {% assign colcounter = 0 %}
    {% endif %}
            <div class="table-row">
    {% assign date = currentdate %}
  {% endif %}

  {% include overlay-box.html p=p counter=globalcounter category='publications' %} 
  {% capture globalcounter %}{{ globalcounter | plus:1 }}{% endcapture %}
  {% capture colcounter %}{{ colcounter | plus:1 }}{% endcapture %}
{% endfor %}
            </div>
          </div>
        </div>
      </section>



