---
layout: default
title: Olof Mogren, PhD - Deep Learning Researcher.
---

      <section>
        <div class="inner">
          <div class="block block-copy">
            <h1>Publication list</h1>
            <p><a href="../">Back to default view</a>. Visit my <a href="https://scholar.google.se/citations?user=m_n28oAAAAAJ">Scholar page</a>.</p>

{% assign globalcounter = 0 %}
{% assign colcounter = 0 %}
{% assign showyears = true %}
{% assign firsthiddenyear = "2014" %}
{% capture lastshownyear %}{{ firsthiddenyear | plus:1 }}{% endcapture %}
{% for p in site.categories.publications %}
  {% if p.tags contains 'unlist' %}{% continue %}{% endif %}
  {% assign currentdate = p.date | date: "%Y" %}
  {% assign colno = colcounter | modulo: 3 %}
  {% if currentdate == firsthiddenyear %}{% assign showyears = false %}{% endif %}
  {% if showyears and currentdate != date %}{% assign showthisyear = true %}{% else %}{% assign showthisyear = false %}{% endif %}
  {% if showthisyear or colno == 0 %}
    {% if showthisyear %}
            <h3>{{ currentdate }}{% if currentdate == lastshownyear %}{{ ' and earlier' }}{% endif %}</h3>
      {% assign colcounter = 0 %}
    {% endif %}
    {% assign date = currentdate %}
  {% endif %}

  {% include author_extras.html authors=p.authors %}
  {{ short_author_string }}
            <p>{{ p.authors | replace: "Olof Mogren", "<strong>Olof Mogren</strong>"}}, <a href="{{ p.permalink }}">{{ p.title }}</a>, {{ p.venueshort }}</p> 

  {% capture globalcounter %}{{ globalcounter | plus:1 }}{% endcapture %}
  {% capture colcounter %}{{ colcounter | plus:1 }}{% endcapture %}
{% endfor %}
          </div>
        </div>
      </section>



